footer{background-color: red;}
.navegacion{background-color: red;display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-around;align-items: center;font-size: 20px;color:red}
a{color: white;font;text-decoration: none;}
.imgDiesel{ }
.logo{height: 100px; width: 200px}
.imgDiesel{height: 110px;align-items: center;}

img{height: 300px; width: 200px;}
body{font-family: Arial, Helvetica, sans-serif; background-color: }
