.navegacion{background-color: red;text-align: center;display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between;}
.logo{align-items: center;height: 80px; width: 140px;}
footer{background-color: red;}
img{width: 150px; height: 220px;}
.DatosAccesorios{display: flex;flex-wrap:nowrap}
.elemento{justify-content: space-between;flex-direction: row;}