img{height: 500px; width: 320px;}
body{background-color: red;font-family: Arial, Helvetica, sans-serif;}
h1{background-color: white; height: 45px; width: 195px; border-radius: 30px;}
button{width: 150px; height: 40px;color: red;border-radius: 30px;border: white;}
h3{color: white;}
.img2{width: 320px; height: 500px;}
